[user]
	name = 9c5s
	email = 98406118+9c5s@users.noreply.github.com
	signingkey = ~/.ssh/id_ed25519.pub
[core]
	editor = code --wait
	autocrlf = input
	symlinks = true
[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
[commit]
	gpgsign = true
[gpg]
	format = ssh
[init]
	defaultbranch = main
[pull]
	rebase = true
